language: java

jdk:
 - oraclejdk11

before_install:
 - sudo apt-get install -y doxygen

script:
 - ./gradlew assemble
 - ./gradlew test
 - doxygen doxygen.config

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep_history: true
  local_dir: docs/
  on:
    branch: master